<?php
$items = $this->getItems();
?>
<?php if($items && count($items) > 0): ?>
    <ul>
        <?php foreach($items as $item): ?>
            <li class="question"><?php echo $item->getQuestion(); ?></li>
            <li class="answer"><?php echo $item->getAnswer(); ?></li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>